.chat{
    height: 100vh;
    display:flex;
}

.chatMenu{
    flex:3;
}
.chatBox{
    flex:6;
}
.chatOnline{
    flex:3;
}

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10px;
    height:100%
}