<div class="homeContainer">

    <!-- left bar starting -->
    <div class="leftbar">
        <div class="leftbarWrapper">
            <ul class="leftbarList">
                <li class="leftbarListItem">
                    <i class="bi bi-rss-fill leftbarIcon"></i>
                    <span class="leftbarListItemText">Feed</span>
                </li>
                <li class="leftbarListItem">
                    <i class="bi bi-chat-left-dots-fill leftbarIcon"></i>
                    <span class="leftbarListItemText">Chat</span>
                </li>
                <li class="leftbarListItem">
                    <i class="bi bi-camera-reels-fill leftbarIcon"></i>
                    <span class="leftbarListItemText">Reels</span>
                </li>
                <li class="leftbarListItem">
                    <i class="bi bi-people-fill leftbarIcon"></i>
                    <span class="leftbarListItemText">Groups</span>
                </li>
                <li class="leftbarListItem">
                    <i class="bi bi-bookmark-fill leftbarIcon"></i>
                    <span class="leftbarListItemText">Bookmarks</span>
                </li>
                <li class="leftbarListItem">
                    <i class="bi bi-question-circle-fill leftbarIcon"></i>
                    <span class="leftbarListItemText">Help and support</span>
                </li>
                <li class="leftbarListItem">
                    <i class="bi bi-gear-fill leftbarIcon"></i>
                    <span class="leftbarListItemText">Settings</span>
                </li>
                <li class="leftbarListItem">
                    <i class="bi bi-calendar-event-fill leftbarIcon"></i>
                    <span class="leftbarListItemText">Events</span>
                </li>
                <li class="leftbarListItem">
                    <i class="bi bi-controller leftbarIcon"></i>
                    <span class="leftbarListItemText">Gaming</span>
                </li>
            </ul>
            <button class="leftbarButton">Show More</button>
            <hr class="leftbarHr"/>
            <span></span>
            <ul class="leftbarFriendList">
                <li class="leftbarFriend">
                    <img class="leftbarFriendImg" src="/assets/avatar.jpeg" />
                    <span class="leftbarFriendName">Joey</span>
                </li>
                <li class="leftbarFriend">
                    <img class="leftbarFriendImg" src="/assets/avatar.jpeg" />
                    <span class="leftbarFriendName">Chandler</span>
                </li>
                <li class="leftbarFriend">
                    <img class="leftbarFriendImg" src="/assets/avatar.jpeg" />
                    <span class="leftbarFriendName">Ross</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- left bar ending -->

    <!-- feed starting -->
    <div class="feed">
        <div class="feedWrapper">

            <!-- share post starts here -->
            <div class="share">
                <div class="shareWrapper">
                    <div class="shareTop">
                        <img class="shareProfileImg" src="/assets/avatar.jpeg" alt="profile pic" />
                        <input placeholder="What's in your mind kowsik" class="shareInput" />
                    </div>
                    <hr class="shareHr" />
                    <div class="shareBottom">
                        <div class="shareOptions">
                            <div class="shareOption">
                                <i style="color: tomato;" class="bi bi-images shareIcon"></i>
                                <span class="shareOptionText">Add Picture</span>
                            </div>
                            <div class="shareOption">
                                <i style="color: green;" class="bi bi-geo-alt-fill shareIcon"></i>
                                <span class="shareOptionText">location</span>
                            </div>
                            <div class="shareOption">
                                <i style="color: goldenrod;" class="bi bi-emoji-smile-fill shareIcon"></i>
                                <span class="shareOptionText">feelings</span>
                            </div>
                        </div>
                        <button class="shareButton">Share</button>
                    </div>
                </div>
            </div>
            <!-- share post ends -->

            <!-- posts starts -->
            <!-- <div class="post">
                <div class="postWrapper">
                    <div class="postTop">
                        <div class="postTopLeft">
                            <img class="postProfileImg" src="/assets/avatar.jpeg" alt="profile pic" />
                            <span class="postUsername">Kowsik</span>
                            <span class="postDate" >5 mins ago</span>
                        </div>
                        <div class="postTopRight">
                            <i class="bi bi-three-dots-vertical"></i>
                        </div>
                    </div>
                    <div class="postCenter">
                        <span class="postText">
                            Hey i am kowsik its my first post
                        </span>
                        <img class="postImg" src="/assets/holiday.jpeg" alt="post image" />
                    </div>
                    <div class="postBottom">
                        <div class="postBottomLeft">
                            <img class="likeIcon" src="/assets/like.png" alt="like" />
                            <span class="postLikeCounter">15 people like it</span>
                        </div>
                        <div class="postBottomRight">
                            <span class="postCommentText">
                                9 comments
                            </span>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="post">
                <div class="postWrapper">
                    <div class="postTop">
                        <div class="postTopLeft">
                            <img class="postProfileImg" src="/assets/avatar.jpeg" alt="profile pic" />
                            <span class="postUsername">Kowsik</span>
                            <span class="postDate" >5 mins ago</span>
                        </div>
                        <div class="postTopRight">
                            <i class="bi bi-three-dots-vertical"></i>
                        </div>
                    </div>
                    <div class="postCenter">
                        <span class="postText">
                            Hey i am kowsik its my first post
                        </span>
                        <img class="postImg" src="/assets/hellopost.jpeg" alt="post image" />
                    </div>
                    <div class="postBottom">
                        <div class="postBottomLeft">
                            <img class="likeIcon" src="/assets/like.png" alt="like" />
                            <span class="postLikeCounter">15 people like it</span>
                        </div>
                        <div class="postBottomRight">
                            <span class="postCommentText">
                                9 comments
                            </span>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="post">
                <div class="postWrapper">
                    <div class="postTop">
                        <div class="postTopLeft">
                            <img class="postProfileImg" src="/assets/avatar.jpeg" alt="profile pic" />
                            <span class="postUsername">Kowsik</span>
                            <span class="postDate" >5 mins ago</span>
                        </div>
                        <div class="postTopRight">
                            <i class="bi bi-three-dots-vertical"></i>
                        </div>
                    </div>
                    <div class="postCenter">
                        <span class="postText">
                            Hey i am kowsik its my first post
                        </span>
                        <img class="postImg" src="/assets/hellopost.jpeg" alt="post image" /> 
                    </div>
                    <div class="postBottom">
                        <div class="postBottomLeft">
                            <img class="likeIcon" src="/assets/like.png" alt="like" />
                            <span class="postLikeCounter">15 people like it</span>
                        </div>
                        <div class="postBottomRight">
                            <span class="postCommentText">
                                9 comments
                            </span>
                        </div>
                    </div>
                </div>
            </div> -->
            <div *ngFor="let post of posts">
                <app-post [post]="post"></app-post>
            </div>
            <!-- posts ends here -->
        </div>
    </div>
    <!-- feed ending -->

    <!-- right bar starts -->
    <div class="rightbar">
        <div class="rightbarWrapper">
            <div class="suggestedGroupsContainer">
                <span class="suggestedGroupsText">
                    Suggested 
                </span>
            </div>
            <img class="suggestedGroupsImg" src="/assets/suggestedgroups.png" alt="Suggested groups" />
        </div>
    </div> 
    <!-- right bar ends -->
</div>